@model IEnumerable<CRUD.Models.Personal>


@{
    ViewBag.Title = "Información";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!DOCTYPE html>
@using (Html.BeginForm("Index", "Personals", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Administracion de personal</title>
    </head>
    <body>
        <div class="container">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Crear personal</button>
            @Html.ActionLink("Reporte","Reporte", "Personals", null, new { @Class = "btn btn-primary", target = "_blank" }) <br /> <br /> <br />

            <table class="table table-bordered table-hover">
                <thead>

                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ApePaterno)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ApeMaterno)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Edad)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </th>
                        <th></th>
                        <th></th>
                    </tr>

                </thead>
                <tbody class="tbody">
                    @*@foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.Nombre, new { id = "PerNombre" })
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.ApePaterno, new { id = "PerApePa" })
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.ApeMaterno, new { id = "PerApeMa" })
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Edad, new { id = "PerEdad" })
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.IsActive, new { id = "PerIsActive" })
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "GetInfID", new { id = item.ID_personal }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_personal })
                        </td>
                    </tr>
                }*@
                </tbody>
            </table>
        </div>
        @*vista modal crear / editar*@
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title" id="myModalLabelTitle">CREAR PERSONAL</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="Nombre">Nombre</label>
                                <input type="text" class="form-control" id="PerNombre" />
                            </div>
                            <div class="form-group">
                                <label for="ApePaterno">Apellido Paterno</label>
                                <input type="text" class="form-control" id="PerApePa" />
                            </div>
                            <div class="form-group">
                                <label for="ApeMaterno">Apellido Materno</label>
                                <input type="text" class="form-control" id="PerApeMa" />
                            </div>
                            <div class="form-group">
                                <label for="Edad">Edad</label>
                                <input type="text" class="form-control" id="PerEdad" />
                            </div>
                            <div class="form-group">
                                <label for="IsActive">IsActive</label>
                                <div class="isActID">
                                    <select name="PerIsActive" id = "PerIsActiveID" size="1">
                                        <option id="ck1" value="null">No Set</option>
                                        <option id="ck2" value="true">Activo</option>
                                        <option id="ck3" value="false">No Activo</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="Btn_CreateModal" onclick="return CreateData();">Crear</button>
                        <button type="button" class="btn btn-primary" id="btn_updateModal" style="display:none;" onclick=" return Update();">Editar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/jquery-3.4.1.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        @*<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>*@
        <script>

            var objID;
            var ID_personal;
            $(document).ready(function () { ReadData(); });

            function addRequestVerificationToken(data) {
                data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
                return data;
            };

            function ReadData() {
                $.ajax({
                    type: "GET",
                    url: '/Personals/ReadListaPersonal',
                    success: function (result) {
                        var html = '';
                        $.each(result, function (key, item) {
                            objID = item.ID_personal;
                            html += '<tr>';
                            html += '<td>' + item.Nombre + '</td>';
                            html += '<td>' + item.ApePaterno + '</td>';
                            html += '<td>' + item.ApeMaterno + '</td>';
                            html += '<td>' + item.Edad + '</td>';
                            html += '<td>' + item.IsActive + '</td>';
                            html += '<td> <button value="Editar" id="btn_update" type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" onclick="return getID(' + objID + ');">Editar</button> </td>';
                            html += '<td> <button value="Eliminar" id="btnDelete" type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" onclick="return Delete(' + objID + ');">Eliminar</button></td>';
                            html += '</tr>';
                        });
                        $('.tbody').html(html);
                    },
                    error: function () {
                        console.log("error");
                    }
                });
            }

            function CreateData() {
                var Personal = {
                    Nombre: $("#PerNombre").val(),
                    ApePaterno: $('#PerApePa').val(),
                    ApeMaterno: $('#PerApeMa').val(),
                    Edad: Number($('#PerEdad').val()),
                    IsActive: Boolean($('#PerIsActive').val())
                };
                // console.log(Personal)
                $.ajax({
                    type: "POST",
                    url: "/Personals/Create",
                    dataType: "json",
                    data: addRequestVerificationToken({ personal: Personal }),
                    success: function (resultado) {
                        //console.log("ok");
                        if (resultado.result) {
                            ReadData();
                            $('#PerNombre').val("");
                            $('#PerApePa').val("");
                            $('#PerApeMa').val("");
                            $('#PerEdad').val("");
                            $('#IsActive').val("null");
                            $('#myModal').modal('hide');
                            swal("Hello World");
                            window.location.reload();
                        }

                    },
                    error: function () {
                        console.log("error");
                    }
                });
            }

            function getID(objID) {
                var valAct = false;
                for (i = 0; i <= 2; i++) {

                }
                $.ajax({
                    url: "/Personals/GetInfID/" + objID,
                    type: "GET",
                    data: { ID_personal: objID },
                    success: function (data) {
                        $.each(data, function (key, item) {
                            ID_personal = item.ID_personal;
                            $('#PerNombre').val(item.Nombre);
                            $('#PerApePa').val(item.ApePaterno);
                            $('#PerApeMa').val(item.ApeMaterno);
                            $('#PerEdad').val(item.Edad);
                            if (item.IsActive == true) {
                                valAct = true;
                                $('.isActID option[value=true]').attr('selected', 'selected');
                                console.log(valAct);
                            }
                            else {
                                $('.isActID option[value=false]').attr('selected', 'selected');
                                console.log(valAct);
                            }
                        });
                        $('#myModalLabelTitle').replaceWith("EDITAR PERSONAL");
                        $('#Mymodal').modal('show');
                        $('#btn_updateModal').show();
                        $('#Btn_CreateModal').hide();
                    },

                    error: function (errormessage) {
                        console.log("Error getid")
                    }

                });
                return false;
            }

            function Update() {
                var Personal = {
                    ID_personal: ID_personal,
                    Nombre: $("#PerNombre").val(),
                    ApePaterno: $('#PerApePa').val(),
                    ApeMaterno: $('#PerApeMa').val(),
                    Edad: Number($('#PerEdad').val()),
                    IsActive: $('#PerIsActiveID').val()
                };
                $.ajax({
                    url: "/Personals/Edit",
                    data: addRequestVerificationToken({ personal: Personal }),
                    type: "POST",
                    dataType: "json",
                    success: function (resultado) {
                        if (resultado.result) {
                            ReadData();

                            $('#myModal').modal('hide');
                            $('#PerNombre').val("");
                            $('#PerApePa').val("");
                            $('#PerApeMa').val("");
                            $('#PerEdad').val("");
                            $('#IsActive').val("null");
                            window.location.reload();
                        }
                    },
                    error: function (errormessage) {
                        console.log("error update");
                    }
                });
            }

            function Delete(objID) {
                var ans = confirm("¿Estas seguro de querer eliminar al empleado?");
                if (ans == true) {
                    $.ajax({
                        url: "/Personals/Delete/" + objID,
                        type: "GET",
                        data: { ID_personal: objID },
                        contentType: "application/json;charset=UTF-8",
                        dataType: "json",
                        success: function (result) {
                            if (result.result) {
                                ReadData();
                                window.location.reload();
                            }
                        },
                        error: function (errormessage) {
                            alert(errormessage.responseText);
                        }
                    });
                }
            }

            function clearTextBox() {
                $('#PerNombre').val("");
                $('#PerApePa').val("");
                $('#PerApeMa').val("");
                $('#PerEdad').val("");
                $('#IsActive').val("");
                $('#btn_updateModal').hide();
                $('#Btn_CreateModal').show();
            }

        </script>

    </body>
</html>

}


